{% extends "layout/layout.html" %}


{% block title %}Notification{% endblock %}

{% block body %}

<body id="reportsPage">
  <nav class="navbar navbar-expand-xl">
    <div class="container h-100">
      <a class="navbar-brand" href="/">
        <h1 class="tm-site-title mb-0">Blood bank database</h1>
      </a>
      <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars tm-nav-icon"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto h-100">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="fas fa-tachometer-alt"></i>
              Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="/notification">
              <i class="fas fa-bell"></i>
              Notifications
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/account">
              <i class="far fa-user"></i>
              Account
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link d-block" href="/auth/logout">
              {{user.full_name}} <b>Logout</b>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
  <div class="container mt-5">
    <div class="row tm-content-row">
      <div class="col-12 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
          <h2 class="tm-block-title">Notification List</h2>
          <div class="tm-notification-items">
            {% if not accepted_requests %}
            <div class="alert alert-light" role="alert">
              No requested information left
            </div>
            {% endif %}
            {% for accepted_request in accepted_requests %}
            <div class="media tm-notification-item">
              <div class="media-body">
                <p class="mb-2"><b>{{accepted_request.requested_to.full_name}}</b> has accepted to share their
                  information
                <ol>
                  <li>
                    Blood Group: {{accepted_request.blood_type}}
                  </li>
                  <li>
                    Contact No: {{accepted_request.requested_to.contact}}
                  </li>
                  <li>
                    Address: {{accepted_request.requested_to.address}}
                  </li>
                </ol>
                </p>
                <span class="tm-small tm-text-color-secondary">{{accepted_request.created_at}}</span>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
      <div class="col-12 font-weight-light">
        <div class="tm-bg-primary-dark tm-block tm-block-products">
          <div class="tm-product-table-container">
            <table class="table table-hover tm-table-small tm-product-table">

              <thead>
                <tr>
                  <th scope="col">Requester's Name</th>
                  <th scope="col">Requested Date</th>
                  <th scope="col">Request Status</th>
                </tr>
              </thead>
              <tbody>

                {% if not incoming_requests %}
                <div class="alert alert-light" role="alert">
                  No incoming requests
                </div>
                {% endif %}

                {% for incoming_request in incoming_requests %}
                <tr>
                  <td class="tm-product-name">{{incoming_request.requesting_user.full_name}}</td>
                  <td>{{incoming_request.created_at}}</td>
                  <td>
                    <form action="/notification/" method="post">
                      <input style="display: none;" name="request_id" value={{incoming_request.id}} />
                      <button class="btn btn-primary text-uppercase mb-3" type="submit">Accept
                        Request</button>
                    </form>
                  </td>

                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
          <!-- table container -->

        </div>


      </div>
    </div>
  </div>
  <footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
      <p class="text-center text-white mb-0 px-4 small">
        Copyright &copy; <b>2021</b> All rights reserved. <b> Blood Bank </b>
      </p>
    </div>
  </footer>
</body>

{% endblock %}